* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {

  overflow: hidden;
  font-size: 30px;
  font-family: "Arial Narrow";

}

footer {

  min-height: 100vh;
  background-image: url(/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

header {

  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 300px;
  height: 100px;

}

header .navbar-nav {

  display: flex;
  gap: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;

}

a {

  text-decoration: none;

}

#logo-piccolo {

  height: 70px;
}

#nav-button {

  position: absolute;
  bottom: 0;
  display: flex;
  background-color: rgb(55, 55, 55);
  align-items: center;
  height: 100px;
  width: 100%;
}

button {

  background-color: rgb(55, 55, 55);
  border: 2px solid rgb(0, 119, 238);
  padding: 10px;
  color: white;
  margin-left: 300px;
  width: 15rem;
  font-weight: bold;

}

.fa {

  font-size: 30px;
  color: white;

}

#follow {

  font-size: 20px;
  font-family: "Arial Narrow";
  color: rgb(0, 119, 238);
  margin-right: 10px;
  font-weight: bold;

}

.social {

  height: 30px;

}

.navbar-mid-bottom {

  position: relative;
  bottom: -90px;
  gap: 50px;
  display: flex;
  background-color: rgb(0, 119, 238);
  align-items: center;
  height: 120px;
  width: 100%;
  justify-content: center;
  font-size: 15px;
  text-transform: uppercase;
  z-index: 999;

}

.navbar-bottom {

  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-right: 300px;
  width: 100%;

}

.nav-link-bottom {

  color: white;
  display: flex;

}

.nav-link-top {

  color: rgb(0, 0, 0);
  display: flex;

}

#dc-comics-h3 {

  bottom: -120px;
  margin-left: 300px;
  font-size: 20px;
  position: relative;
  display: flex;
  color: white;
}

#shop-h3 {

  bottom: -140px;
  margin-left: 300px;
  font-size: 20px;
  position: relative;
  display: flex;
  color: white;
}

.links-bottom-dcComics {

  position: relative;
  color: rgb(121, 121, 121);
  display: flex;
  bottom: -125px;
  font-size: 13px;
  margin-left: 300px;

}

.links-bottom-shop {

  position: relative;
  color: rgb(121, 121, 121);
  display: flex;
  bottom: -145px;
  font-size: 13px;
  margin-left: 300px;
}

.links-bottom-dc {

  position: relative;
  color: rgb(121, 121, 121);
  display: flex;
  bottom: 50px;
  font-size: 13px;
  margin-left: 500px;

}

#dc-h3 {

  bottom: 55px;
  margin-left: 300px;
  font-size: 20px;
  position: relative;
  display: flex;
  color: white;
  margin-left: 500px;
}

#logo-big-dc {

  display: flex;
  position: relative;
  bottom: 338px;
  height: 425px;
  left: 50rem;
}