* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {


  font-size: 30px;
  font-family: "Arial Narrow";

}

footer {

  min-height: 100vh;
}

header {

  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 300px;
  height: 100px;

}

header .navbar-nav {

  display: flex;
  gap: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: inherit;
  list-style: none;
  cursor: pointer;
}

a {

  text-decoration: none;

}

#logo-piccolo {

  height: 70px;
  cursor: pointer;
}

#nav-button {


  position: relative;
  display: flex;
  background-color: rgb(55, 55, 55);
  align-items: center;
  height: 100px;
  width: 100%;

}

button {

  background-color: rgb(55, 55, 55);
  border: 2px solid rgb(0, 119, 238);
  padding: 10px;
  color: white;
  margin-left: 300px;
  width: 15rem;
  font-weight: bold;

}

.fa {

  font-size: 30px;
  color: white;

}

#follow {

  font-size: 20px;
  font-family: "Arial Narrow";
  color: rgb(0, 119, 238);
  margin-right: 10px;
  font-weight: bold;
  cursor: text;
  position: relative;
  right: 10px;
  top: 5px;
}

.social {

  height: 30px;

}

.navbar-mid-bottom {

  position: relative;
  bottom: 10px;
  gap: 50px;
  display: flex;
  background-color: rgb(0, 119, 238);
  align-items: center;
  height: 120px;
  width: 100%;
  justify-content: center;
  font-size: 15px;
  text-transform: uppercase;
  z-index: 999;

}

#nav-mid-bottom {
  width: 100%;
  height: 0px;

}

.navbar-bottom {

  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-right: 300px;
  width: 100%;


}

#social-buttons {
  cursor: pointer;
  display: flex;
  gap: 15px;
}

.nav-link-bottom {

  color: white;
  display: flex;

}

.nav-link-top {

  color: rgb(0, 0, 0);
  display: flex;

}

#dc-comics-h3 {

  bottom: -30px;
  margin-left: 300px;
  font-size: 20px;
  position: relative;
  display: flex;
  color: white;
}

#shop-h3 {

  bottom: -70px;
  margin-left: 300px;
  font-size: 20px;
  position: relative;
  display: flex;
  color: white;
}

.links-bottom-dcComics {

  position: relative;
  color: rgb(121, 121, 121);
  display: flex;
  bottom: -125px;
  font-size: 13px;
  margin-left: 300px;

}

.links-bottom-shop {

  position: relative;
  color: rgb(121, 121, 121);
  display: flex;
  bottom: -145px;
  font-size: 13px;
  margin-left: 300px;
}

.links-bottom-dc {

  position: relative;
  color: rgb(121, 121, 121);
  display: flex;
  bottom: 50px;
  font-size: 13px;
  margin-left: 500px;

}

#dc-h3 {

  bottom: 145px;
  margin-left: 300px;
  font-size: 20px;
  position: relative;
  display: flex;
  color: white;
  margin-left: 430px;
}

#logo-big-dc {

  display: flex;
  position: relative;
  bottom: -80px;
  height: 425px;
  left: 50rem;
}

.link-top {

  position: relative;
  color: rgb(0, 115, 255);
  word-break: normal;

}

.link-top::after {

  position: absolute;
  bottom: -44px;
  left: 0px;
  width: 100%;
  height: 5px;
  background-color: rgb(0, 115, 255);
  content: "";

}

.footer-comics {

  bottom: -50px;
  position: relative;
  display: flex;
  position: relative;
  color: rgb(121, 121, 121);
  font-size: 13px;
  margin-left: 300px;
}

.footer-links-shop {
  bottom: -80px;
  position: relative;
  display: flex;
  position: relative;
  color: rgb(121, 121, 121);
  font-size: 13px;
  margin-left: 300px;

}

.footer-links-dc {
  bottom: 120px;
  position: relative;
  display: flex;
  position: relative;
  color: rgb(121, 121, 121);
  font-size: 13px;
  margin-left: 27rem;

}

.footer-links-comicBooks {

  max-width: 130px;
  overflow-wrap: break-word;
  text-transform: uppercase;
  font-size: 10px;
 
}

.footer-links-sites {
  bottom: 300px;
  position: relative;
  display: flex;
  position: relative;
  color: rgb(121, 121, 121);
  font-size: 13px;
  margin-left: 35rem;

}

#sites-h3 {
  bottom: 325px;
  margin-left: 300px;
  font-size: 20px;
  position: relative;
  display: flex;
  color: white;
  margin-left: 35rem;

}

#main-voci {

  background-color: rgb(21, 21, 21);
  margin: 0 230px;
  position: relative;
  bottom: -45px;
  justify-content: center;
  gap: 30px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  cursor: pointer;
   

}

#main-voci img {

  height: 150px;
  width: 150px;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: top;

}

#main-voci-container {

  background-color: rgb(21, 21, 21);
  height: 550px;

}

#nav-container {

  background-image: url(/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

#img-top {

  height: 20rem;

}

#img-top img {

  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}

#signup-button {

  cursor: pointer;

}